*{
    margin: 0px;
    padding: 0px;
}

.header-img {
    width: 100vw;
    height: 40vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-bumper {
    background-color: black;
    width: 100vw;
    height: 3vh;
    margin: 0;
    pad: 0;
}
